### $\color{blue}{\text{Dados de Limpeza (Cleaning Data)}}$

#### $\color{red}{\text{Limpeza de dados}}$
A limpeza de dados significa corrigir dados ruins em seu conjunto de dados.

Dados incorretos podem ser:

- Células vazias
- Dados no formato errado
- Dados errados
- Duplicatas

In [6]:
import pandas as pd #ORIGINAL

df = pd.read_csv('C://Users//bialn//Downloads//ArquivoCSV//data2.csv')

print(df.to_string())

    Duration            Date   Pulse   Maxpulse   Calories
0         60    '2020/12/01'     110        130      409.1
1         60   '2020/12/02'      117        145      479.0
2         60    '2020/12/03'     103        135      340.0
3         45    '2020/12/04'     109        175      282.4
4         45    '2020/12/05'     117        148      406.0
5         60    '2020/12/06'     102        127      300.0
6         60    '2020/12/07'     110        136      374.0
7        450    '2020/12/08'     104        134      253.3
8         30    '2020/12/09'     109        133      195.1
9         60    '2020/12/10'      98        124      269.0
10        60    '2020/12/11'     103        147      329.3
11        60    '2020/12/12'     100        120      250.7
12        60    '2020/12/12'     100        120      250.7
13        60    '2020/12/13'     106        128      345.3
14        60    '2020/12/14'     104        132      379.3
15        60    '2020/12/15'      98        123      275.0
16        60    '2020/12/16'      98        120      215.2
17        60    '2020/12/17'     100        120      300.0
18        45    '2020/12/18'      90        112        NaN
19        60    '2020/12/19'     103        123      323.0
20        45    '2020/12/20'      97        125      243.0
21        60    '2020/12/21'     108        131      364.2
22        45             NaN     100        119      282.0
23        60    '2020/12/23'     130        101      300.0
24        45    '2020/12/24'     105        132      246.0
25        60    '2020/12/25'     102        126      334.5
26        60      2020/12/26     100        120      250.0
27        60    '2020/12/27'      92        118      241.0
28        60    '2020/12/28'     103        132        NaN
29        60    '2020/12/29'     100        132      280.0
30        60    '2020/12/30'     102        129      380.3
31        60    '2020/12/31'      92        115      243.0

In [1]:
import pandas as pd

df = pd.read_csv('C://Users//bialn//Downloads//ArquivoCSV//data2.csv')
new_df = df.dropna()

print(new_df.to_string())

    Duration            Date   Pulse   Maxpulse   Calories
0         60    '2020/12/01'     110        130      409.1
1         60   '2020/12/02'      117        145      479.0
2         60    '2020/12/03'     103        135      340.0
3         45    '2020/12/04'     109        175      282.4
4         45    '2020/12/05'     117        148      406.0
5         60    '2020/12/06'     102        127      300.0
6         60    '2020/12/07'     110        136      374.0
7        450    '2020/12/08'     104        134      253.3
8         30    '2020/12/09'     109        133      195.1
9         60    '2020/12/10'      98        124      269.0
10        60    '2020/12/11'     103        147      329.3
11        60    '2020/12/12'     100        120      250.7
12        60    '2020/12/12'     100        120      250.7
13        60    '2020/12/13'     106        128      345.3
14        60    '2020/12/14'     104        132      379.3
15        60    '2020/12/15'      98        123      275.0
16        60    '2020/12/16'      98        120      215.2
17        60    '2020/12/17'     100        120      300.0
19        60    '2020/12/19'     103        123      323.0
20        45    '2020/12/20'      97        125      243.0
21        60    '2020/12/21'     108        131      364.2
23        60    '2020/12/23'     130        101      300.0
24        45    '2020/12/24'     105        132      246.0
25        60    '2020/12/25'     102        126      334.5
26        60      2020/12/26     100        120      250.0
27        60    '2020/12/27'      92        118      241.0
29        60    '2020/12/29'     100        132      280.0
30        60    '2020/12/30'     102        129      380.3
31        60    '2020/12/31'      92        115      243.0

Por padrão, o método **dropna()** retorna um novo DataFrame e não altera o original.

Se formos alterar o DataFrame original, usaremos o **inplace = True**.

Exemplo: (Remover todas as linhas com valores NULL)

In [2]:
import pandas as pd

df = pd.read_csv('C://Users//bialn//Downloads//ArquivoCSV//data2.csv')

df.dropna(inplace = True)

print(df.to_string())

    Duration            Date   Pulse   Maxpulse   Calories
0         60    '2020/12/01'     110        130      409.1
1         60   '2020/12/02'      117        145      479.0
2         60    '2020/12/03'     103        135      340.0
3         45    '2020/12/04'     109        175      282.4
4         45    '2020/12/05'     117        148      406.0
5         60    '2020/12/06'     102        127      300.0
6         60    '2020/12/07'     110        136      374.0
7        450    '2020/12/08'     104        134      253.3
8         30    '2020/12/09'     109        133      195.1
9         60    '2020/12/10'      98        124      269.0
10        60    '2020/12/11'     103        147      329.3
11        60    '2020/12/12'     100        120      250.7
12        60    '2020/12/12'     100        120      250.7
13        60    '2020/12/13'     106        128      345.3
14        60    '2020/12/14'     104        132      379.3
15        60    '2020/12/15'      98        123      275.0
16        60    '2020/12/16'      98        120      215.2
17        60    '2020/12/17'     100        120      300.0
19        60    '2020/12/19'     103        123      323.0
20        45    '2020/12/20'      97        125      243.0
21        60    '2020/12/21'     108        131      364.2
23        60    '2020/12/23'     130        101      300.0
24        45    '2020/12/24'     105        132      246.0
25        60    '2020/12/25'     102        126      334.5
26        60      2020/12/26     100        120      250.0
27        60    '2020/12/27'      92        118      241.0
29        60    '2020/12/29'     100        132      280.0
30        60    '2020/12/30'     102        129      380.3
31        60    '2020/12/31'      92        115      243.0

Agora, o **dropna(inplace = True)** NÃO retornará um novo DataFrame, mas removerá todas as linhas contendo valores NULL do DataFrame original.

#### $\color{red}{\text{Substituir valores vazios}}$
Outra maneira de lidar com células vazias é inserir um novo valor.

Dessa forma, não precisamos excluir linhas inteiras apenas por causa de algumas células vazias.

O método **fillna()** nos permite substituir células vazias por um valor.

Exemplo: (Substituir os valores NULL pelo número 130)

In [5]:
import pandas as pd

df = pd.read_csv('C://Users//bialn//Downloads//ArquivoCSV//data2.csv')

df.fillna(130, inplace = True)

print(df.to_string())

    Duration            Date   Pulse   Maxpulse   Calories
0         60    '2020/12/01'     110        130      409.1
1         60   '2020/12/02'      117        145      479.0
2         60    '2020/12/03'     103        135      340.0
3         45    '2020/12/04'     109        175      282.4
4         45    '2020/12/05'     117        148      406.0
5         60    '2020/12/06'     102        127      300.0
6         60    '2020/12/07'     110        136      374.0
7        450    '2020/12/08'     104        134      253.3
8         30    '2020/12/09'     109        133      195.1
9         60    '2020/12/10'      98        124      269.0
10        60    '2020/12/11'     103        147      329.3
11        60    '2020/12/12'     100        120      250.7
12        60    '2020/12/12'     100        120      250.7
13        60    '2020/12/13'     106        128      345.3
14        60    '2020/12/14'     104        132      379.3
15        60    '2020/12/15'      98        123      275.0
16        60    '2020/12/16'      98        120      215.2
17        60    '2020/12/17'     100        120      300.0
18        45    '2020/12/18'      90        112      130.0
19        60    '2020/12/19'     103        123      323.0
20        45    '2020/12/20'      97        125      243.0
21        60    '2020/12/21'     108        131      364.2
22        45             130     100        119      282.0
23        60    '2020/12/23'     130        101      300.0
24        45    '2020/12/24'     105        132      246.0
25        60    '2020/12/25'     102        126      334.5
26        60      2020/12/26     100        120      250.0
27        60    '2020/12/27'      92        118      241.0
28        60    '2020/12/28'     103        132      130.0
29        60    '2020/12/29'     100        132      280.0
30        60    '2020/12/30'     102        129      380.3
31        60    '2020/12/31'      92        115      243.0

##### $\color{orange}{\text{Substituir apenas para colunas especificadas}}$

O exemplo acima substitui todas as células vazias em todo o Data Frame.

Para substituir apenas valores vazios de uma coluna, especifique o nome da coluna para o DataFrame.

Exemplo: (Substituir os valores NULL nas colunas "Calorias" pelo número 130)

In [12]:
import pandas as pd

df = pd.read_csv('C://Users//bialn//Downloads//ArquivoCSV//data2.csv')

df["Calories"].fillna(130, inplace = True)

print(df.to_string())

    Duration            Date   Pulse   Maxpulse  Calories
0         60    '2020/12/01'     110        130     409.1
1         60   '2020/12/02'      117        145     479.0
2         60    '2020/12/03'     103        135     340.0
3         45    '2020/12/04'     109        175     282.4
4         45    '2020/12/05'     117        148     406.0
5         60    '2020/12/06'     102        127     300.0
6         60    '2020/12/07'     110        136     374.0
7        450    '2020/12/08'     104        134     253.3
8         30    '2020/12/09'     109        133     195.1
9         60    '2020/12/10'      98        124     269.0
10        60    '2020/12/11'     103        147     329.3
11        60    '2020/12/12'     100        120     250.7
12        60    '2020/12/12'     100        120     250.7
13        60    '2020/12/13'     106        128     345.3
14        60    '2020/12/14'     104        132     379.3
15        60    '2020/12/15'      98        123     275.0
16        60    '2020/12/16'      98        120     215.2
17        60    '2020/12/17'     100        120     300.0
18        45    '2020/12/18'      90        112     130.0
19        60    '2020/12/19'     103        123     323.0
20        45    '2020/12/20'      97        125     243.0
21        60    '2020/12/21'     108        131     364.2
22        45             NaN     100        119     282.0
23        60    '2020/12/23'     130        101     300.0
24        45    '2020/12/24'     105        132     246.0
25        60    '2020/12/25'     102        126     334.5
26        60      2020/12/26     100        120     250.0
27        60    '2020/12/27'      92        118     241.0
28        60    '2020/12/28'     103        132     130.0
29        60    '2020/12/29'     100        132     280.0
30        60    '2020/12/30'     102        129     380.3
31        60    '2020/12/31'      92        115     243.0

#### $\color{red}{\text{Substituir usando média, mediana ou modo}}$
Uma maneira comum de substituir células vazias é calcular o valor médio, mediano ou moda da coluna.

O Pandas usa os métodos **mean()**, **median()** e **mode()** para calcular os respectivos valores para uma coluna especificada.

Exemplo: (Calcular a MEAN(média) e substituir quaisquer valores vazios por ela)

In [17]:
import pandas as pd

df = pd.read_csv('C://Users//bialn//Downloads//ArquivoCSV//data2.csv')

x = df["Calories"].mean()

df["Calories"].fillna(x, inplace = True)
print("Média =",x)
print(df.to_string())

Média = 304.68
    Duration            Date   Pulse   Maxpulse  Calories
0         60    '2020/12/01'     110        130    409.10
1         60   '2020/12/02'      117        145    479.00
2         60    '2020/12/03'     103        135    340.00
3         45    '2020/12/04'     109        175    282.40
4         45    '2020/12/05'     117        148    406.00
5         60    '2020/12/06'     102        127    300.00
6         60    '2020/12/07'     110        136    374.00
7        450    '2020/12/08'     104        134    253.30
8         30    '2020/12/09'     109        133    195.10
9         60    '2020/12/10'      98        124    269.00
10        60    '2020/12/11'     103        147    329.30
11        60    '2020/12/12'     100        120    250.70
12        60    '2020/12/12'     100        120    250.70
13        60    '2020/12/13'     106        128    345.30
14        60    '2020/12/14'     104        132    379.30
15        60    '2020/12/15'      98        123    275.00
16        60    '2020/12/16'      98        120    215.20
17        60    '2020/12/17'     100        120    300.00
18        45    '2020/12/18'      90        112    304.68
19        60    '2020/12/19'     103        123    323.00
20        45    '2020/12/20'      97        125    243.00
21        60    '2020/12/21'     108        131    364.20
22        45             NaN     100        119    282.00
23        60    '2020/12/23'     130        101    300.00
24        45    '2020/12/24'     105        132    246.00
25        60    '2020/12/25'     102        126    334.50
26        60      2020/12/26     100        120    250.00
27        60    '2020/12/27'      92        118    241.00
28        60    '2020/12/28'     103        132    304.68
29        60    '2020/12/29'     100        132    280.00
30        60    '2020/12/30'     102        129    380.30
31        60    '2020/12/31'      92        115    243.00

> Média = o valor médio (a soma de todos os valores dividido pelo número de valores).

Exemplo: (Calcular a MEDIAN (mediana) e substituir quaisquer valores vazios por ela)

>Mediana = o valor no meio, depois de classificar todos os valores em ordem crescente.

In [19]:
import pandas as pd

df = pd.read_csv('C://Users//bialn//Downloads//ArquivoCSV//data2.csv')

x = df["Calories"].median()

df["Calories"].fillna(x, inplace = True)
print("Mediana =",x)
print(df.to_string())

Mediana = 291.2
    Duration            Date   Pulse   Maxpulse  Calories
0         60    '2020/12/01'     110        130     409.1
1         60   '2020/12/02'      117        145     479.0
2         60    '2020/12/03'     103        135     340.0
3         45    '2020/12/04'     109        175     282.4
4         45    '2020/12/05'     117        148     406.0
5         60    '2020/12/06'     102        127     300.0
6         60    '2020/12/07'     110        136     374.0
7        450    '2020/12/08'     104        134     253.3
8         30    '2020/12/09'     109        133     195.1
9         60    '2020/12/10'      98        124     269.0
10        60    '2020/12/11'     103        147     329.3
11        60    '2020/12/12'     100        120     250.7
12        60    '2020/12/12'     100        120     250.7
13        60    '2020/12/13'     106        128     345.3
14        60    '2020/12/14'     104        132     379.3
15        60    '2020/12/15'      98        123     275.0
16        60    '2020/12/16'      98        120     215.2
17        60    '2020/12/17'     100        120     300.0
18        45    '2020/12/18'      90        112     291.2
19        60    '2020/12/19'     103        123     323.0
20        45    '2020/12/20'      97        125     243.0
21        60    '2020/12/21'     108        131     364.2
22        45             NaN     100        119     282.0
23        60    '2020/12/23'     130        101     300.0
24        45    '2020/12/24'     105        132     246.0
25        60    '2020/12/25'     102        126     334.5
26        60      2020/12/26     100        120     250.0
27        60    '2020/12/27'      92        118     241.0
28        60    '2020/12/28'     103        132     291.2
29        60    '2020/12/29'     100        132     280.0
30        60    '2020/12/30'     102        129     380.3
31        60    '2020/12/31'      92        115     243.0

>Moda = o valor que aparece com mais frequência.

Exemplo: (Calcular o MODO(moda) e substituir quaiquer valores vazios por ele)

In [4]:
import pandas as pd

df = pd.read_csv('C://Users//bialn//Downloads//ArquivoCSV//data2.csv')

x = df["Calories"].mode()[0]

df["Calories"].fillna(x, inplace = True)
print("Moda =",x)
print(df.to_string())

Moda = 300.0
    Duration            Date   Pulse   Maxpulse  Calories
0         60    '2020/12/01'     110        130     409.1
1         60   '2020/12/02'      117        145     479.0
2         60    '2020/12/03'     103        135     340.0
3         45    '2020/12/04'     109        175     282.4
4         45    '2020/12/05'     117        148     406.0
5         60    '2020/12/06'     102        127     300.0
6         60    '2020/12/07'     110        136     374.0
7        450    '2020/12/08'     104        134     253.3
8         30    '2020/12/09'     109        133     195.1
9         60    '2020/12/10'      98        124     269.0
10        60    '2020/12/11'     103        147     329.3
11        60    '2020/12/12'     100        120     250.7
12        60    '2020/12/12'     100        120     250.7
13        60    '2020/12/13'     106        128     345.3
14        60    '2020/12/14'     104        132     379.3
15        60    '2020/12/15'      98        123     275.0
16        60    '2020/12/16'      98        120     215.2
17        60    '2020/12/17'     100        120     300.0
18        45    '2020/12/18'      90        112     300.0
19        60    '2020/12/19'     103        123     323.0
20        45    '2020/12/20'      97        125     243.0
21        60    '2020/12/21'     108        131     364.2
22        45             NaN     100        119     282.0
23        60    '2020/12/23'     130        101     300.0
24        45      '20201224'     105        132     246.0
25        60    '2020/12/25'     102        126     334.5
26        60      2020/12/26     100        120     250.0
27        60    '2020/12/27'      92        118     241.0
28        60    '2020/12/28'     103        132     300.0
29        60    '2020/12/29'     100        132     280.0
30        60    '2020/12/30'     102        129     380.3
31        60    '2020/12/31'      92        115     243.0

### $\color{blue}{\text{Limpeza de dados de formato errado}}$

#### $\color{red}{\text{Dados de formato incorreto}}$
Células com dados de formato incorreto podem dificultar, ou mesmo impossibilitar, a análise dos dados.

Para corrigi-lo, temos duas opções: remover as linhas ou converter todas as células das colunas para o mesmo formato.

#### $\color{red}{\text{Converter em um formato correto}}$

Para converter todas as células da coluna 'Data' em datas, o Pandas tem um método **to_datetime()** para isso.

Exemplo: (Converter para data)

In [1]:
import pandas as pd

df = pd.read_csv('C://Users//bialn//Downloads//ArquivoCSV//data2.csv')

df['Date']= pd.to_datetime(df['Date'])

print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

O resultado mostra que a data na linha 26 foi corrigida, mas a data vazia na linha 22 obteve um valor NaT (Not a Time), ou seja, um valor vazio. Uma maneira de lidar com valores vazios é simplesmente remover a linha inteira.

#### $\color{red}{\text{Removendo linhas}}$
O resultado da conversão no exemplo acima nos deu um valor NaT, que pode ser tratado como um valor NULL, e podemos remover a linha usando o método **dropna()**.

Exemplo: (Remover as linhas coom valor NULL na coluna Date)

In [2]:
import pandas as pd

df = pd.read_csv('C://Users//bialn//Downloads//ArquivoCSV//data2.csv')

df.dropna(subset=['Date'], inplace = True)

print(df.to_string())

    Duration           Date  Pulse  Maxpulse  Calories
0         60   '2020/12/01'    110       130     409.1
1         60  '2020/12/02'     117       145     479.0
2         60   '2020/12/03'    103       135     340.0
3         45   '2020/12/04'    109       175     282.4
4         45   '2020/12/05'    117       148     406.0
5         60   '2020/12/06'    102       127     300.0
6         60   '2020/12/07'    110       136     374.0
7        450   '2020/12/08'    104       134     253.3
8         30   '2020/12/09'    109       133     195.1
9         60   '2020/12/10'     98       124     269.0
10        60   '2020/12/11'    103       147     329.3
11        60   '2020/12/12'    100       120     250.7
12        60   '2020/12/12'    100       120     250.7
13        60   '2020/12/13'    106       128     345.3
14        60   '2020/12/14'    104       132     379.3
15        60   '2020/12/15'     98       123     275.0
16        60   '2020/12/16'     98       120     215.2
17        60   '2020/12/17'    100       120     300.0
18        45   '2020/12/18'     90       112       NaN
19        60   '2020/12/19'    103       123     323.0
20        45   '2020/12/20'     97       125     243.0
21        60   '2020/12/21'    108       131     364.2
23        60   '2020/12/23'    130       101     300.0
24        45     '20201224'    105       132     246.0
25        60   '2020/12/25'    102       126     334.5
26        60       20201226    100       120     250.0
27        60   '2020/12/27'     92       118     241.0
28        60   '2020/12/28'    103       132       NaN
29        60   '2020/12/29'    100       132     280.0
30        60   '2020/12/30'    102       129     380.3
31        60   '2020/12/31'     92       115     243.0

### $\color{blue}{\text{Corrigindo dados errados}}$

#### $\color{red}{\text{Dados errados}}$
"Dados errados" não precisam ser "células vazias" ou "formato errado", pode apenas estar errado, como se alguém registrasse "199" em vez de "1,99".

Às vezes, identificamos dados errados observando o conjunto de dados, porque tem uma expectativa do que deveria ser.

Se você der uma olhada em nosso conjunto de dados, verá que na linha 7, a duração é 450, mas para todas as outras linhas a duração está entre 30 e 60.

Não precisa estar errado, mas levando em consideração que este é o conjunto de dados das sessões de treino de alguém, concluímos com o fato de que essa pessoa não treinou em 450 minutos.

#### $\color{red}{\text{Substituindo valores}}$

Uma maneira de corrigir valores errados é substituí-los por outra coisa.

Exemplo: (Definir "Duration" = 45 a linha 7)

In [3]:
import pandas as pd

df = pd.read_csv('C://Users//bialn//Downloads//ArquivoCSV//data2.csv')

df.loc[7, 'Duration'] = 45

print(df.to_string())

    Duration           Date  Pulse  Maxpulse  Calories
0         60   '2020/12/01'    110       130     409.1
1         60  '2020/12/02'     117       145     479.0
2         60   '2020/12/03'    103       135     340.0
3         45   '2020/12/04'    109       175     282.4
4         45   '2020/12/05'    117       148     406.0
5         60   '2020/12/06'    102       127     300.0
6         60   '2020/12/07'    110       136     374.0
7         45   '2020/12/08'    104       134     253.3
8         30   '2020/12/09'    109       133     195.1
9         60   '2020/12/10'     98       124     269.0
10        60   '2020/12/11'    103       147     329.3
11        60   '2020/12/12'    100       120     250.7
12        60   '2020/12/12'    100       120     250.7
13        60   '2020/12/13'    106       128     345.3
14        60   '2020/12/14'    104       132     379.3
15        60   '2020/12/15'     98       123     275.0
16        60   '2020/12/16'     98       120     215.2
17        60   '2020/12/17'    100       120     300.0
18        45   '2020/12/18'     90       112       NaN
19        60   '2020/12/19'    103       123     323.0
20        45   '2020/12/20'     97       125     243.0
21        60   '2020/12/21'    108       131     364.2
22        45            NaN    100       119     282.0
23        60   '2020/12/23'    130       101     300.0
24        45     '20201224'    105       132     246.0
25        60   '2020/12/25'    102       126     334.5
26        60       20201226    100       120     250.0
27        60   '2020/12/27'     92       118     241.0
28        60   '2020/12/28'    103       132       NaN
29        60   '2020/12/29'    100       132     280.0
30        60   '2020/12/30'    102       129     380.3
31        60   '2020/12/31'     92       115     243.0

Para conjuntos de dados pequenos, podemos substituir os dados errados um por um, mas não para conjuntos de dados grandes.

Para substituir dados errados por conjuntos de dados maiores, precisaremos definir alguns limites para valores legais e substituir quaisquer valores que estejam fora dos limites.

Exemplo: (Percorrer todos os valores na coluna "Duration", se o valor for maior que 120, definí-los como 120)

In [4]:
import pandas as pd

df = pd.read_csv('C://Users//bialn//Downloads//ArquivoCSV//data2.csv')

for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120

print(df.to_string())

    Duration           Date  Pulse  Maxpulse  Calories
0         60   '2020/12/01'    110       130     409.1
1         60  '2020/12/02'     117       145     479.0
2         60   '2020/12/03'    103       135     340.0
3         45   '2020/12/04'    109       175     282.4
4         45   '2020/12/05'    117       148     406.0
5         60   '2020/12/06'    102       127     300.0
6         60   '2020/12/07'    110       136     374.0
7        120   '2020/12/08'    104       134     253.3
8         30   '2020/12/09'    109       133     195.1
9         60   '2020/12/10'     98       124     269.0
10        60   '2020/12/11'    103       147     329.3
11        60   '2020/12/12'    100       120     250.7
12        60   '2020/12/12'    100       120     250.7
13        60   '2020/12/13'    106       128     345.3
14        60   '2020/12/14'    104       132     379.3
15        60   '2020/12/15'     98       123     275.0
16        60   '2020/12/16'     98       120     215.2
17        60   '2020/12/17'    100       120     300.0
18        45   '2020/12/18'     90       112       NaN
19        60   '2020/12/19'    103       123     323.0
20        45   '2020/12/20'     97       125     243.0
21        60   '2020/12/21'    108       131     364.2
22        45            NaN    100       119     282.0
23        60   '2020/12/23'    130       101     300.0
24        45     '20201224'    105       132     246.0
25        60   '2020/12/25'    102       126     334.5
26        60       20201226    100       120     250.0
27        60   '2020/12/27'     92       118     241.0
28        60   '2020/12/28'    103       132       NaN
29        60   '2020/12/29'    100       132     280.0
30        60   '2020/12/30'    102       129     380.3
31        60   '2020/12/31'     92       115     243.0

#### $\color{red}{\text{Removendo linhas}}$
Outra maneira de lidar com dados errados é remover as linhas que contêm dados errados.

Dessa forma, não é preciso descobrir com o que substituí-los e há uma boa chance de não precisar deles para fazer suas análises.

Exemplo: (Excluir as linhas em que "Duration" for maior que 120)

In [8]:
import pandas as pd

df = pd.read_csv('C://Users//bialn//Downloads//ArquivoCSV//data2.csv')

for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.drop(x, inplace = True)

print(df.to_string())

    Duration           Date  Pulse  Maxpulse  Calories
0         60   '2020/12/01'    110       130     409.1
1         60  '2020/12/02'     117       145     479.0
2         60   '2020/12/03'    103       135     340.0
3         45   '2020/12/04'    109       175     282.4
4         45   '2020/12/05'    117       148     406.0
5         60   '2020/12/06'    102       127     300.0
6         60   '2020/12/07'    110       136     374.0
8         30   '2020/12/09'    109       133     195.1
9         60   '2020/12/10'     98       124     269.0
10        60   '2020/12/11'    103       147     329.3
11        60   '2020/12/12'    100       120     250.7
12        60   '2020/12/12'    100       120     250.7
13        60   '2020/12/13'    106       128     345.3
14        60   '2020/12/14'    104       132     379.3
15        60   '2020/12/15'     98       123     275.0
16        60   '2020/12/16'     98       120     215.2
17        60   '2020/12/17'    100       120     300.0
18        45   '2020/12/18'     90       112       NaN
19        60   '2020/12/19'    103       123     323.0
20        45   '2020/12/20'     97       125     243.0
21        60   '2020/12/21'    108       131     364.2
22        45            NaN    100       119     282.0
23        60   '2020/12/23'    130       101     300.0
24        45     '20201224'    105       132     246.0
25        60   '2020/12/25'    102       126     334.5
26        60       20201226    100       120     250.0
27        60   '2020/12/27'     92       118     241.0
28        60   '2020/12/28'    103       132       NaN
29        60   '2020/12/29'    100       132     280.0
30        60   '2020/12/30'    102       129     380.3
31        60   '2020/12/31'     92       115     243.0

### $\color{blue}{\text{Removendo duplicatas}}$
#### $\color{red}{\text{Descobrindo duplicatas}}$
Linhas duplicadas são linhas que foram registradas mais de uma vez. Como é o caso das linhas 11 e 12.

Para descobrir duplicatas, podemos usar o método **duplicated()**.

O **duplicated()** retorna valores booleanos para cada linha:

Exemplo: (Retornar True para cada linha duplicada, caso contrário False)

In [6]:
import pandas as pd

df = pd.read_csv('C://Users//bialn//Downloads//ArquivoCSV//data2.csv')

print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

#### $\color{red}{\text{Removendo duplicatas}}$
Para remover duplicatas, use o método **drop_duplicates()**.

Exemplo:

In [7]:
import pandas as pd

df = pd.read_csv('C://Users//bialn//Downloads//ArquivoCSV//data2.csv')
df.drop_duplicates(inplace = True)
print(df.to_string())

    Duration           Date  Pulse  Maxpulse  Calories
0         60   '2020/12/01'    110       130     409.1
1         60  '2020/12/02'     117       145     479.0
2         60   '2020/12/03'    103       135     340.0
3         45   '2020/12/04'    109       175     282.4
4         45   '2020/12/05'    117       148     406.0
5         60   '2020/12/06'    102       127     300.0
6         60   '2020/12/07'    110       136     374.0
7        450   '2020/12/08'    104       134     253.3
8         30   '2020/12/09'    109       133     195.1
9         60   '2020/12/10'     98       124     269.0
10        60   '2020/12/11'    103       147     329.3
11        60   '2020/12/12'    100       120     250.7
13        60   '2020/12/13'    106       128     345.3
14        60   '2020/12/14'    104       132     379.3
15        60   '2020/12/15'     98       123     275.0
16        60   '2020/12/16'     98       120     215.2
17        60   '2020/12/17'    100       120     300.0
18        45   '2020/12/18'     90       112       NaN
19        60   '2020/12/19'    103       123     323.0
20        45   '2020/12/20'     97       125     243.0
21        60   '2020/12/21'    108       131     364.2
22        45            NaN    100       119     282.0
23        60   '2020/12/23'    130       101     300.0
24        45     '20201224'    105       132     246.0
25        60   '2020/12/25'    102       126     334.5
26        60       20201226    100       120     250.0
27        60   '2020/12/27'     92       118     241.0
28        60   '2020/12/28'    103       132       NaN
29        60   '2020/12/29'    100       132     280.0
30        60   '2020/12/30'    102       129     380.3
31        60   '2020/12/31'     92       115     243.0

 > O (inplace = True) irá garantir que o método NÃO retorne um novo DataFrame, mas removerá todas as duplicatas do DataFrame original .

<img src="https://thumbs.gfycat.com/CelebratedJaggedHalcyon-size_restricted.gif" width="300" >

#### Para mais especificações: 
##### [What does inplace mean in Pandas? ](https://www.geeksforgeeks.org/what-does-inplace-mean-in-pandas/)

##### [pandas.DataFrame.dropna ](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html)

##### [Como usar loc e iloc no pandas? ](https://medium.com/horadecodar/data-science-tips-02-como-usar-loc-e-iloc-no-pandas-fab58e214d87)

##### [pandas.DataFrame.loc ](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html)

##### [ pandas.DataFrame.mode](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mode.html)

##### [ pandas.DataFrame.median](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.median.html)

##### [pandas.DataFrame.mean ](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html)

##### [ pandas.DataFrame.fillna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html)

##### [pandas.to_datetime ](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)

##### [pandas.DataFrame.duplicated ](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html)

##### [pandas.DataFrame.drop_duplicates ](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html)